{% extends "countdown/base.html" %}
{% load static %}

{% block scripts %}
    <script src={% static 'js/main.js' %} defer></script>
{% endblock scripts %}

{% block content %}
    <div class="row">
        <div id="event-box" class="text-center mt-3 h1"><h1>{{object.when |date:"d F Y"}} um {{object.when | date:"H:i"}} Uhr</h1></div>
    </div>
    <div class="text-center mt-3 h1"><h2>verbleibende Zeit:</h2></div>
    <div id="countdown-box" class="text-center mt-3 h1">
        <div class="spinner-border" role="status"></div>
    </div>
{% endblock content %}