{% extends "countdown/base.html" %}
{% load static %}

{% block scripts %}
    <script src={% static 'js/main.js' %} defer></script>
{% endblock scripts %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <div>{{object.name}} will take Place in:</div>
        </div>
        <div class="col-8">
            <div id="event-box">{{object.when|date:"Y-m-d H:i:s"}}</div>
        </div>
    </div>
    <div>Time left:</div>
    <div id="countdown-box" class="text-center mt-3 h1">
        <div class="spinner-border" role="status"></div>
    </div>
{% endblock content %}