{% extends 'kamelRechner/base.html' %}

{% block content %}
<h1>Rangliste</h1>
    {% for person in people %}
        <article class="post">
            {% if forloop.counter == 1 %}
                <h2><span style="color: gold;">{{forloop.counter}}.</span> {{person.name}}</h2>
            {% elif forloop.counter == 2 %}
            <h2><span style="color: silver;">{{forloop.counter}}.</span> {{person.name}}</h2>
            {% elif forloop.counter == 3 %}
            <h2><span style="color: #CD7F32;">{{forloop.counter}}.</span> {{person.name}}</h2>
            {% else %}
                <h2>{{forloop.counter}}. {{person.name}}</h2>
            {% endif %}
            <h3>{{person.camelValue}} Kamele</h3>
        </article>
    {% endfor %}
{% endblock %}